
body {
   margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img{
    height: 100px;
}

.background-img {
    background-image: url('Images/Home.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.blur-rectangle {
    position: absolute;
    top: 1cm;
    left: 1cm;
    right: 1cm;
    bottom: 1cm;
    background-color: transparent; 
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.logo img {
    width: 50px; /* Adjust the logo width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 17cm;
    
}

.brand-text h1 {
   position: absolute;
   color: white;
   right: 1000px;
   top: 0.1px;
   left: 60px;
   bottom: 100px;
   font-family:'Times New Roman', Times, serif;

}

.navigation {
    position: absolute;
    top: 15px;
    right: 10px;
    
}

.navigation a {
    text-decoration: none;
    color: white; /* Adjust the color as needed */
    font-size: 18px; /* Adjust the font size as needed */
    margin: 0 10px; /* Adjust the margin between links as needed */
    
    
}

.navigation:hover{
    color: aqua;
}

.navigation a:hover{
    color: aqua;
}

.button-images {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 20px;
}

.button-images a {
    text-decoration:solid;
    margin: 0 40px; /* Increased margin between images */
}

.button-images img {
    width: 50%; /* Increased image size */
    aspect-ratio: 6/5;
    object-fit: contain;
    gap: 100px;
}

